pip==24.2
wheel==0.43.0
py4j==0.10.9.7
zipp==3.20.2
MarkupSafe==2.1.5
werkzeug==3.0.4
click==8.1.7
jinja2==3.1.4
blinker==1.8.2
itsdangerous==2.2.0
pyspark==3.5.3
setuptools==75.1.0
packaging==24.1
tomli==2.0.1
autocommand==2.2.2
inflect==7.3.1
typeguard==4.3.0
platformdirs==4.2.2
flask==3.0.3